<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=today%></h1>
    <ul>
      <%for(var i=0;i<newitems.length;i++){%>
        <li><%=newitems[i]%></li>
      <%}%>
    </ul>
    <form class="" action="/" method="post">
      <input type="text" name="text1" value="">
      <button type="submit" name="submit">ADD</button>
    </form>
  </body>
</html>
