<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> <%=title%> </h1>
    <ul>
      <% for(var i=0;i<content.length;i++){%>
        <li> <%=content[i]%> </li>
      <%}%>
    </ul>
    <form class="" action="/" method="post">
      <input type="text" name="value1" value="" autocomplete="off">
      <button type="submit" name="submit" value= <%=title%> >+</button>
    </form>
  </body>
</html>
